<h3>This's Style Guide Home / Messages & Notifications</h3>
<div class="row">
	<div class="col-xs-6">
		<h4>Alerts</h4>
		<div class="alert fade in alert-dismissable" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
			<strong>Default:</strong> Best check yo self, <a href="#" class="alert-link">...</a>you're not looking too good.
		</div>
		<div class="alert alert-warning fade in alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
			<strong>Warning:</strong> Better check yourself, <a href="#" class="alert-link">...</a>you're not looking too good.
		</div>
		<div class="alert alert-success fade in alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
			<strong>Success:</strong> Well done! <a href="#" class="alert-link">...</a> You successfully read this important alert message.
		</div>
		<div class="alert alert-info fade in alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
			<strong>Info:</strong> Heads up! This alert needs your attention, <a href="#" class="alert-link">...</a> but it's not super important.
		</div>
		<div class="alert alert-danger fade in alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
			<strong>Danger:</strong> Oh snap! <a href="#" class="alert-link">...</a> Change a few things up and try submitting again.
		</div>
		<div class="alert alert-primary fade in alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
			</button>
			<strong>Primary:</strong>&nbsp;Your server is working at optimum speed. <a href="#" class="alert-link">...</a>
		</div>
		<div class="alert alert-info fade in alert-dismissable" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			<h4>Your server is working at optimum speed.</h4>
			<p>Alter few settings to reboot your server. To decrease some load and fast processing your project click on a action button below. <a href="#" class="alert-link"> See instructions </a></p> 
			<p>
				<button type="button" class="btn btn-default">Reboot</button>
				<button type="button" class="btn btn-default">Cancel</button>
			</p>
		</div>
	</div>
	<div class="col-xs-6">
		<h4>Notifications</h4>
	</div>
</div>
