<hgroup class="page-header">
<h3><small>Style Guide /</small> Panels</h3>
</hgroup>
<div class="panel panel-default">
	<div class="panel-heading">
		Breadbrumb
	</div>
	<div class="panel-body">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
			<li class="active">Data</li>
		</ol>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Label
	</div>
	<div class="panel-body">
		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Pagination
	</div>
	<div class="panel-body text-center">
		<h5>Pagination</h5>
		<nav>
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
		<h5>Pager</h5>
		<nav>
			<ul class="pager">
				<li><a href="#">Previous</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</nav>
		<ul class="pager">
		  <li class="previous">
		    <a href="#">
		      <span>
		        <i class="fui-arrow-left"></i>
		        All messages
		      </span>
		    </a>
		  </li>

		  <li class="next">
		    <a href="#">
		      <i class="fui-arrow-right"></i>
		    </a>
		  </li>
		</ul>
		<h5>Aligned links</h5>
		<nav>
			<ul class="pager">
				<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
				<li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Jumbotron
	</div>
	<div class="panel-body">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sed, laborum consequatur omnis cum iste veniam nesciunt maxime architecto, magnam necessitatibus! Sit ea, illo obcaecati voluptate voluptatum sequi, exercitationem vero!</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Modals
	</div>
	<div class="panel-body">
		
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Panels
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Panel default
					</div>
					<div class="panel-body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum vel in voluptates dignissimos temporibus velit eius aliquid distinctio ipsa repellendus dolore sed, veritatis earum, adipisci dicta quia, cum possimus tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error qui possimus deleniti ipsa hic neque rerum nemo sunt ad soluta, perferendis quam iure veniam iusto totam officiis molestiae quibusdam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Panel default
					</div>
					<div class="panel-body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi cupiditate perferendis nisi ad? Voluptas quasi mollitia aperiam tempora iure minima incidunt perferendis! Esse voluptatibus praesentium nesciunt animi vero, enim. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum vel in voluptates dignissimos temporibus velit eius aliquid distinctio ipsa repellendus dolore sed, veritatis earum, adipisci dicta quia, cum possimus tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error qui possimus deleniti ipsa hic neque rerum nemo sunt ad soluta, perferendis quam iure veniam iusto totam officiis molestiae quibusdam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>