<h3>This's Style Guide Home / Tabs & Accordions</h3>

<h4>Tabs</h4>

<h5>Default</h5>
<h5>Primary</h5>
<h5>Transparent</h5>
<h5>Horizontal Left Aligned</h5>
<h5>Horizontal Right Aligned</h5>
<h5>Justified Tabs</h5>
<h5>Dropdown Menu as Tab</h5>

<h4>Accordions</h4>

<h5>Default</h5>
<h5>Primary</h5>