<hgroup class="page-header">
	<h3><small>Style Guide /</small> Typography </h3>
</hgroup>
<div class="panel panel-default">
	<div class="panel-heading">
		Colors
	</div>
	<div class="panel-body text-center">
		<div class="inner-content">
			<div class="row">
				<div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-6">
					<div class="card">
						<div class="card-content primary-color">
							<div class="sg-color-palette"></div>
						</div>
						<div class="card-description">
							<h5>Primary<br><small>$pcolor</small></h5>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<div class="card">
						<div class="card-content light-primary-color">
							<div class="sg-color-palette"></div>
						</div>
						<div class="card-description">
							<h5>Light Primary<br><small>$lpcolor</small></h5>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					
					<div class="card">
						<div class="card-content middle-color">
							<div class="sg-color-palette"></div>
						</div>
						<div class="card-description">
							<h5>Middle<br><small>$mdcolor</small></h5>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<div class="card">
						<div class="card-content secondary-color">
							<div class="sg-color-palette"></div>
						</div>
						<div class="card-description">
							<h5>Secondary<br><small>$scolor</small></h5>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<div class="card">
						<div class="card-content light-secondary-color">
							<div class="sg-color-palette"></div>
						</div>
						<div class="card-description">
							<h5>Dark Secondary<br><small>$dscolor</small></h5>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
	
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Fonts
	</div>
	<div class="panel-body text-center">
		<div class="row">
			<div class="col-xs-12">
				<h4>Optima</h4>
				<p class="font-primary">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
				<p class="font-primary">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
				<p class="font-primary">1 2 3 4 5 6 7 8 9 0</p>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4 class="font-secondary">Sukhumvit</h4>
				<p>ก ข ค ง จ ฉ ช ซ ฌ ญ ฎ ฏ ฐ ฑ ฒ ณ ด ต ถ ท ธ น บ ป ผ ฝ พ ฟ ภ ม ย ร ล ว ศ ษ ส ห ฬ อ ฮ</p>
				<p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
				<p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
				<p>1 2 3 4 5 6 7 8 9 0</p>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Headings
	</div>
	<div class="panel-body text-center">
		<p>h1</p>
		<h1>The quick brown fox <small>jumps over the lazy dog.</small></h1>
		<span class="sep"></span>
		<p>h2</p>
		<h2>The quick brown fox <small>jumps over the lazy dog.</small></h2>
		<span class="sep"></span>
		<p>h3</p>
		<h3>The quick brown fox <small>jumps over the lazy dog.</small></h3>
		<span class="sep"></span>
		<p>h4</p>
		<h4>The quick brown fox <small>jumps over the lazy dog.</small></h4>
		<span class="sep"></span>
		<p>h5</p>
		<h5>The quick brown fox <small>jumps over the lazy dog.</small></h5>
		<span class="sep"></span>
		<p>h6</p>
		<h6>The quick brown fox <small>jumps over the lazy dog.</small></h6>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Text Styles & Tags
	</div>
	<div class="panel-body text-center">
		<h2><b>Bold, </b><span class="semi-bold">Semi Bold, </span><span class="light">Light, </span><i class="thin">Italics</i></h2>
		<br>
		<h3 class="thin">Numerics stuff! - 1234567890</h3>
		<h3 class="thin">Some more text addons 640.54<sup>USD</sup></h3>
		<h3 class="thin">Decimals 3432.<sup>10</sup></h3>
		<br>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ullam maiores, repellat nostrum qui impedit quibusdam, beatae hic dolor vel, aperiam voluptates veritatis laudantium illo exercitationem mollitia provident enim temporibus!</p>
		<a href="#"> Link !! </a>
	</div>
</div>