<div class="container-fluid">
	<div class="inner-footer">
		<nav class="navbar navbar-footer">
			<p class="navbar-text"><a href="http://chanintrliving.com" class="cl-brand navbar-link">Chanintr Living</a><br>Copyright © All Rights Reserved.</p>
		</nav>
	</div>
</div>