<ul class="text-center">
	<li><a href="" class="btn btn-xs btn-link">Assets</a></li>
	<li><a href="" class="btn btn-xs btn-link">New Asset</a></li>
	<li><a href="" class="btn btn-xs btn-link">Shared Assets</a></li>
	<li><a href="" class="btn btn-xs btn-link">Accounts</a></li>
	<li><a href="" class="btn btn-xs btn-link">Pages</a></li>
	<li><a href="" class="btn btn-xs btn-link">Preferences</a></li>
</ul>